body {
    background-image: url("../Desktop/images.jpeg")
}

body {
    color: white;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 40px;
}

span {
    font-size: 20px;
}

.main-header {
    height: 50px;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 20px;
}

.main-header nav {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.main-content {
    height: calc(100vh - 75px);
    background: black;
    color: white;
    position: relative;
}

.main-content h1 {
    width: 30%;
    position: absolute;
    top: 45%;
    text-align: center;
}

.big-prompt {
    width: 32%;
    position: absolute;
    top: 55%;
    text-align: center;
}

.video-prompt {
    width: 32%;
    position: absolute;
    top: 65%;
    text-align: : right;
}

